@use "global" as *;

.tab__item {
    width: calc((100% - rem(38))/3);
    padding-top: rem(10);
    padding-bottom: rem(10);
    background-color: $lightGreen;
    line-height: 1.5;
    font-size: rem(14);
    color: $green;
    display: block;
    transition: all 0.2s ease;
    text-align: center;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    float: left;
    margin-bottom: rem(16);

    @include mq(md) {
        position: relative;
        padding-top: rem(29);
        padding-bottom: rem(25);
        padding-left: rem(50);
        line-height: 1;
        font-size: rem(24);
        margin-bottom: rem(24);
    }
}

.tab__item:not(:first-of-type) {
    margin-left: rem(19);
}

.tab__item:hover {
    background-color: $green;
    color: $white;
}

.tab__item br {
    @include mq(md) {
        display: none;
    }
}

.tab__item-license::before {
    @include mq(md) {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../images/common/info-icon-license-green.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(64);
        height: rem(64);
        top: rem(13);
        left: rem(30);
        transform: translateY(-10%);
    }
}

.tab__item-fun::before {
    @include mq(md) {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../images/common/info-icon-fun-green.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(63);
        height: rem(63);
        top: rem(13);
        left: rem(18);
        transform: translateY(-10%);
    }
}

.tab__item-trial::before {
    @include mq(md) {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../images/common/info-icon-trial-green.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(64);
        height: rem(64);
        top: rem(13);
        left: rem(30);
        transform: translateY(-10%);
    }
}

.tab__item-license:hover::before {
    @include mq(md) {
        background-image: url("../images/common/info-icon-license-white.png");
    }
}

.tab__item-fun:hover::before {
    @include mq(md) {
        background-image: url("../images/common/info-icon-fun-white.png");
    }
}

.tab__item-trial:hover::before {
    @include mq(md) {
        background-image: url("../images/common/info-icon-trial-white.png");
    }
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab__content {
    display: none;
    padding: rem(24);
    clear: both;
    overflow: hidden;
    border: 1px solid $green;
}

.tab__content-description {
    @include mq(md) {
        width: calc((100% - rem(48)) / 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.tab__content-title {
    font-size: rem(24);
    font-weight: $bold;
    line-height: 1;
    padding-bottom: rem(8);
    border-bottom: 1px solid $green;
}

.tab__content-text {
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
}

.tab__content-img {
    margin-top: rem(8);
    aspect-ratio: 297 / 189;
    overflow: hidden;

    @include mq(md) {
        width: calc((100% - rem(48)) / 2);
        margin-top: 0;
        aspect-ratio: 492 / 313;
    }
}

.tab__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked~.tab__content,
#license:checked~.tab__content-license,
#fun:checked~.tab__content-fun,
#trial:checked~.tab__content-trial {
    display: block;

    @include mq(md) {
        display: flex;
        column-gap: rem(48);
    }
}

/*選択されているタブのスタイルを変える*/
.tab input:checked+.tab__item {
    background-color: $green;
    color: $white;
}

/* Voiceページ */
.tab__item--voice {
    width: calc((100% - rem(21))/2);
    padding-top: rem(6);
    padding-bottom: rem(6);
    box-shadow: none;
    background-color: $white;
    line-height: 1;
    font-size: rem(14);
    color: $green;
    display: block;
    transition: all 0.2s ease;
    text-align: center;
    border: 1px solid $green;

    @include mq(md) {
        width: rem(162);
        padding-top: rem(6);
        padding-bottom: rem(6);
        font-size: rem(14);
        padding-left: 0;
        margin-bottom: rem(40);
        /*position: relative;
        padding-top: rem(29);
        padding-bottom: rem(25);
        padding-left: rem(50);
        line-height: 1;
        font-size: rem(24);
        margin-bottom: rem(24);*/
    }
}

.tab__item--voice:nth-of-type(3) {
    clear: both;
    margin-left: 0;

    @include mq(md) {
        clear: none;
        margin-left: rem(32);
    }
}

.tab__item--voice:nth-of-type(4) {
    float: left;
}

.tab__item--voice:not(:first-of-type) {
    @include mq(md) {
        margin-left: rem(32);
    }
}

.tab__item--voice:hover {
    color: $white;
    background-color: $green;
}

.tab__content--voice {
    padding: 0;
    border: none;
    overflow: visible;

    @include mq(md) {
        width: calc((100% - rem(40)) / 2);
        clear: none;
        float: left;
    }
}

.tab__content--voice:not(:first-of-type) {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: 0;
    }
}

.tab__content--voice:nth-of-type(even) {
    @include mq(md) {
        margin-left: rem(40);
    }
}

.tab__content--voice:nth-of-type(n+3):nth-of-type(-n+7) {
    @include mq(md) {
        margin-top: rem(80);
    }
}

.tab__content--voice:nth-of-type(n+5):nth-of-type(-n+6) {
    @include mq(md) {
        margin-bottom: rem(72);
    }
}